@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-10rem); }
  80% {
    transform: translateY(2rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  80% {
    transform: translateY(2rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

html {
  font-size: 62%; }

body {
  box-sizing: border-box; }

body {
  box-sizing: border-box;
  color: #656565;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  padding: 3rem; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation: moveInLeft 1.5s ease-out; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 100;
    letter-spacing: 1.7rem;
    animation: moveInRight 1.5s ease-out; }
  .heading-primaryparagraph {
    font-size: 1.6rem;
    color: #fff; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .2rem;
  transition: all .2s; }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center !important; }

.u-left-text {
  text-align: right !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-top-xl {
  margin-top: 10rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-medium {
  margin-top: 4rem !important; }

.u-margin-top-small {
  margin-top: 2rem !important; }

.u-margin-neg-top-sm {
  margin-top: -2rem !important; }

.u-margin-neg-top-md {
  margin-top: -30rem !important; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: crosshair; }

.btn:hover {
  transform: translateY(-0.3rem);
  background-color: #2998ff;
  color: #fff;
  cursor: crosshair; }
  .btn:hover::after {
    transform: scaleX(1.6) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.2); }

.btn--blue {
  background-color: #2998ff;
  color: #fff; }
  .btn--blue::after {
    background-color: #2998ff; }

.btn--white {
  background-color: #fff;
  color: #2998ff; }
  .btn--white::after {
    background-color: #2998ff; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .3s; }

.btn--animated {
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-sixe: 1.6rem;
  color: #fff;
  display: inline-block;
  text-decoration: none;
  padding: 4px; }

.profile-card {
  box-shadow: 0 0 3rem 0 rgba(0, 0, 0, 0.2);
  max-width: 30rem;
  font-size: 1.6rem;
  border-radius: 3px;
  margin: auto;
  text-align: center;
  overflow: hidden;
  border-radius: 5px; }
  .profile-card-header {
    height: 20rem; }
  .profile-card-profile {
    border-radius: 100%;
    max-width: 15rem; }
  .profile-card-body {
    height: 15rem; }
  .profile-card-title {
    color: #656565; }
  .profile-card-paragraph {
    padding: 1rem;
    font-size: 1.6rem; }
  .profile-card-contact {
    display: inline-block;
    padding: 1.5rem;
    color: #fff;
    background-color: #2998ff;
    text-align: center;
    cursor: crosshair;
    width: 100%;
    font-size: 1rem;
    text-decoration: none;
    font-size: 1.6rem;
    color: #fff;
    transition: transform .3s; }
    .profile-card-contact:hover {
      transform: scale(1.3); }

.service-card {
  position: relative;
  height: 52rem; }
  .service-card-side {
    color: white;
    font-size: 2rem;
    height: 52rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    box-shadow: 0 0 3rem 0 rgba(0, 0, 0, 0.2); }
    .service-card-side_front {
      background-color: #fff; }
    .service-card-side_back {
      transform: rotateY(-180deg); }
      .service-card-side_back-1 {
        background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
      .service-card-side_back-2 {
        background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
      .service-card-side_back-3 {
        background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
  .service-card__picture {
    background-size: cover;
    height: 22rem;
    background-blend-mode: soft-light;
    -webkit-clip-path: polygon(100% 0, 100% 80%, 0 100%, 0 0);
    clip-path: polygon(100% 0, 100% 80%, 0 100%, 0 0);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; }
    .service-card__picture-1 {
      background-image: linear-gradient(rgba(41, 152, 255, 0.5), rgba(86, 67, 250, 0.5)), url(..//..//IMG/Audi.jpg);
      background-position: 0px -200px; }
    .service-card__picture-2 {
      background-image: linear-gradient(rgba(41, 152, 255, 0.5), rgba(86, 67, 250, 0.5)), url(..//..//IMG/Audi.jpg);
      background-position: 0px -200px; }
    .service-card__picture-3 {
      background-image: linear-gradient(rgba(41, 152, 255, 0.5), rgba(86, 67, 250, 0.5)), url(..//..//IMG/Audi.jpg);
      background-position: 0px -200px; }
  .service-card__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    top: 14rem;
    right: 1rem;
    width: 58%; }
  .service-card__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .service-card__heading-span-1 {
      background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85)); }
    .service-card__heading-span-2 {
      background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85)); }
    .service-card__heading-span-3 {
      background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85)); }
  .service-card__details {
    padding: 3rem; }
    .service-card__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .service-card__details ul li {
        color: #ccc;
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem; }
        .service-card__details ul li:not(:last-child) {
          border-bottom: 1px solid #eee; }
  .service-card__price {
    font-size: 2.5rem; }

.feature-box {
  background-color: #fff;
  border-radius: 5px;
  height: 30rem;
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  transition: transform .3s; }
  .feature-box__icon {
    font-size: 4rem;
    margin-bottom: .6rem; }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.03); }

.form__group:not(:last-child) {
  margin-bottom: 2rem; }

.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  padding: 1.5rem 2rem;
  color: inherit;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.9);
  border: none;
  border-bottom: 3px solid transparent;
  width: 60%;
  display: block;
  transition: all .3s; }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #2998ff; }
  .form__input:focus:invalid {
    border-bottom: 3px solid orangered; }
  .form__input::-webkit-input-placeholder {
    color: #999; }

.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: .7rem;
  display: block;
  transition: all .2s; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.form__radio-group {
  width: 32%;
  display: inline-block; }

.form__radio-input {
  display: none; }

.form__radio-label {
  font-size: 1.6rem;
  cursor: pointer;
  position: relative;
  padding: 2rem; }

.form__radio-button {
  height: 3rem;
  width: 3rem;
  border: 4px solid #2998ff;
  border-radius: 50%;
  display: block;
  position: absolute;
  left: -2.3rem;
  top: 1.65rem; }
  .form__radio-button::after {
    content: "";
    display: block;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #2998ff;
    opacity: 0;
    transition: opacity .2s; }

.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1; }

.row {
  margin: 0 auto;
  max-width: 114rem; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^='col-'] {
    display: inline-block;
    float: left; }
    .row [class^='col-']:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2* 6rem); }

.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4)), url(..//IMG/Mercedes.jpg);
  background-position: top;
  background-size: cover;
  clip-path: polygon(100% 0, 100% 80%, 0 100%, 0 0);
  height: 95vh;
  position: relative; }
  .header__logo-box {
    font-size: 1.6rem;
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 3.5rem;
    animation: moveInTop 1.5s ease-out; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.header-primary-paragraph {
  font-size: 1.6rem;
  color: #fff;
  animation: moveInLeft 1.5s ease-out; }

.nav {
  letter-spacing: .2rem;
  font-size: 1rem;
  position: absolute;
  top: 7%;
  left: 87%;
  z-index: 3; }

.nav__list {
  display: block;
  width: 15rem;
  text-decoration: none;
  color: #d6d6d6;
  text-transform: uppercase;
  text-decoration: none;
  list-style-type: none;
  cursor: crosshair;
  padding: .2rem 0;
  transition: all .3s ease-out; }

.nav__list:hover {
  transform: scaleX(1.1);
  color: #656565; }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -25vh; }

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(..//IMG/Tree.jpg);
  background-size: cover;
  background-position: top;
  transform: skewY(-7deg);
  margin-top: -10rem; }
  .section-features > * {
    transform: skewY(7deg); }

.section-services {
  background-color: #f7f7f7;
  padding: 25rem 0 50rem 0;
  margin-top: -15vh; }

.section-contact {
  padding: 15rem 0;
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 70%, transparent 50%), url(..//.//IMG/Porsche.jpg);
  background-size: cover;
  background-position: center; }

.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 70%, transparent 50%), url(..//.//IMG/Porsche.jpg);
  background-position: center;
  background-size: 100%;
  border-radius: 5px;
  box-shadow: 0 0 3rem 0 rgba(0, 0, 0, 0.2);
  height: 60rem; }
  .book__form {
    width: 75%;
    padding: 6rem; }
